

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body { 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 0;
}

.texto-lila {
    font-weight: 450;
    color: #9147FF;
}

.texto-blanco {
    font-weight: 600;
    color: #fff;
}

.texto-negro {
	color: #000;
}


/* ICONO DE TRASLADAR PARA ABAJO */
#icono{
    font-weight: 700;
    color: #9147FF;

}
#icono{
    position: absolute;
    z-index: 99;
    bottom: 3px;
    left: 50%;
    font-size: 40px;
    animation: efecto 1s ease infinite;

    
}
/*EFECTO DEL ICONO */
@keyframes efecto{
    0% {transform: translateY(17px);}
    25% {transform: translateY(0);}
    100% {transform: translateY(17px);}
}
 /* ESTILO PARA EL FULL PAGE*/
 #fp-nav ul li a span{
     background:#9147FF ;
 }

 /* MENU DEL NAVEGADOR */
 .navegador{
     position: fixed;
     display: flex;
     align-items: center;
     justify-content: space-between;
     z-index: 70;
     width: 100%;
     margin: 0;
     padding: 10px 20px;
 }
 .navegador li,
 .navegador a{
     display: inline-block;
     margin: 5px;
     text-decoration: none;
     text-transform: uppercase;
     font-family: 'Oswal', sans-serif;
     font-size: 19px;
     color: white;
     transition: .5s ease;
 }
 .navegador li,
 .navegador a:hover{
     color:#9147FF ;
 }
.logo{
     height: 80px;
     width: 80px;
     border-radius: 40px ;
     box-shadow: 2px 2px 2px rgb(51, 51, 51);
 }
 @media (max-width: 900px){
    .navegador .sitio{
         display: none;
         
     }
     .navegador li,
 .navegador a{
     margin: 0px;

 }
 .navegador #menu{
    
    display: none;
}
 
 }
 

/* IMAGEN DE FONDO DE LA SECTION HEADER */
#header {
    background-image: url('../img/zapatos-fondo.jpeg');
    background-position: center;
    background-size: cover;
    text-align: center;


}
#header h1{
    font-size: 55px;
    text-transform: uppercase;
}
/* VIDEO PROMOCIONAL */
/* .bg-video{
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background: black;
    background-position: center;
    background-size: contain;
    object-fit: cover;
} */

/* IMAGEN DE FONDO DE LA SECTION NOSOTROS */
#nosotros{
    background-image: url('../img/zapatos-fondo.jpeg');
    background-position: center;
    background-size: cover;
   
   
   
}

#nosotros p{
    text-align: justify;
    color: white;
    margin: 6px;
    margin-left: 100px;
    margin-right: 100px;
  
    
    padding: 10px;
    font-size: 16px;
    overflow: hidden;
    
    
}
#nosotros #mv p{
    background-color: rgba(22, 33, 43, 0.493);
    border-radius: 20px;
    margin-left: 90px;
    margin-right: 90px;
    box-shadow: 0 10px 29px 0 rgba(0, 0, 0, 0.658);
    transition: all 0.3s ease-in-out;
}
#nosotros #mv p:hover{
    
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
     
}

#nosotros h3{

    color: white;
}
#nosotros span{
    color: #9147FF;
    font-size: 19px;
    font-weight: 800;
    
}
#nosotros span:hover{
    color: rgb(107, 11, 252);
    font-style: italic;

}
.mision_vision{
    display: flex;
    flex-direction: row;
    

}
.bg-video{
   
    height: 300px;
    width: 300px;
    margin-right: 50px;
    border-radius: 150px;
    
} 
@media (min-width:1600px){
    #nosotros span{
        color: rgb(101, 0, 252);
        font-style: italic;
    
    }
    .mision_vision{
        display: flex;
        flex-direction: column;
    }
    #nosotros #nos{
        margin-top: 6px;
        margin-left: 600px;
        margin-right: 600px;
        margin-bottom: 2px;
    }
    #nosotros #mv{
        margin-top: 10px;
        margin-left: 450px;
        margin-right: 450px;
    }
    #nosotros #mv p{
        margin-top: 10px;
    }
    .bg-video{
   
        border-radius: 150px;
     
        
    } 
}



@media (max-width: 900px){
    #nosotros #nos{
        display: none;
       
    }
    #nosotros #mv p{
        font-size: 14px;
        margin-top: 6px;
        margin-left: 10px;
        margin-right: 25px;
        overflow: hidden;
    }
    #nosotros .bg-video{
        display: none;
    }
}

/* SETCION DE servicio */


#servicios{
    background-image: url('../img/servicio.jpg');
    background-position: center;
    background-size: cover;
   
    
    overflow: hidden;
    
}
#servicios a{
    text-decoration: none;
}


  
  #servicios .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: rgba(22, 33, 43, 0.493);
    box-shadow: 0 10px 29px 0 rgba(0, 0, 0, 0.658);
    transition: all 0.3s ease-in-out;
  }
  
  #servicios .box:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  
  #servicios .icon {
    position: absolute;
    left: -10px;
    top: calc(50% - 32px);
  }
  
  #servicios .icon i {
    font-size: 64px;
    line-height: 1;
    transition: 0.5s;
  }
  
  #servicios .title {
    margin-left: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }
  
  #servicios .title a {
    color: #111;
    
  }
  #servicios .ntitle a {
    color: #fff;
    
  }
  
  #servicios .box:hover .title a {
    color: #9147ff;
  }
  
  #servicios .description {
    font-size: 14px;
    margin-left: 40px;
    line-height: 24px;
    margin-bottom: 0;
   
    color: #fff;
  }

  #servicios .row{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
  }
  #serv_titulo{
      margin: 0 100px 15px 100px;
     
      border-radius: 10px;
  }

  #serv_titulo #intro{
      color: white;
      background-color: rgba(22, 33, 43, 0.493);
     
  }
  #cell{
      display: none;
  }
  @media (max-width:1000px){
      #servicios #intro{
          display: none;
          
      }
      #servicios #servicio .box{
          display: none;
      }
      #cell{
        display: block;
   

    }
    #cell .box p{
        text-align: justify;
        padding-left: 15px;
        padding-bottom: 9px;
    }
  }
  @media (min-width:1200px){
    #servicios #intro{
        display: none;
        
    }
    #serv_titulo{
        margin: 0 100px 15px 100px;
        background-color: rgba(22, 33, 43, 0);
        border-radius: 10px;
        color:red;
    }
  }

  

  /* SECTION DE PRODUCTOS */
  #productos article{
      background-position: center;
      background-size: cover;
      

  }

  #productos article:nth-child(1){
      background-image: url('../img/producto-02.jpg');
  }
  
  #productos article:nth-child(2){
    background-image: url('../img/producto-03.jpg');
}

#productos article:nth-child(3){
    background-image: url('../img/producto-01.jpg');
    background-position: center;
      background-size: cover;
}
#productos #slide_p .informacion-productos{
    margin: 0 30px;
}
#productos #slide_p .informacion-productos .modelo{
    font-size: 45px;
    color: white;
}
#productos #slide_p .informacion-productos .descripcion{
    font-size: 23px;
    color: white;
}

#productos #slide_p .informacion-productos .precio{
    font-size: 25px;
    color: white;
}
#productos #slide_p .informacion-productos .precio::before{
    content: '$';
    display: inline-block;

}
/* CLASES DE FULLPAGE LAS FLECHAS DEL SLIDE */

.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev{
    
    top: 70%;
   
}
.fp-controlArrow.fp-prev{
    border-width: 20px 20px 20px 0;
    background-color: transparent #9147FF transparent transparent;
    

}
.fp-controlArrow.fp-next{
    border-width: 20px 0 20px 20px ;
    background-color: transparent  transparent transparent #9147FF;


}



/* TIENDAS */


#tiendas{
    background-image: url('../img/iniciopreviashop.jpg');
    background-position: center;
    background-size: cover;
   
    
}
#tiendas h1{
   padding-top: 50px;
}
#tiendas .container {
        
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: rgba(22, 33, 43, 0.493);
    box-shadow: 0 10px 29px 0 rgba(0, 0, 0, 0.658);
    transition: all 0.3s ease-in-out;
}
#tiendas .container h2{
    margin-bottom: 25px;
}
#tiendas .container a{
    display: inline-block;
}
#tiendas .container h3{
    display: inline-block;
    color: #fff;
}
#tiendas .container h3:hover{
    
    color: #9147FF;
}
#tiendas .container{
    margin-left: 30%;
    margin-right: 30%;
}
#tiendas .fas{
    color:#5606ce ;
}
#tiendas img{
    display: inline;
    height: 210px;
    width: 260px;
    position: absolute; 
    bottom: 5px;
    right: 20px;
    
    border-radius: 20px;
}
#tiendas #contain_mapa iframe{
    display: inline;
    height: 210px;
    width: 320px;
    position: absolute; 
    bottom: 20px;
    right: 35%;
    border: solid ;
    border-radius: 20px;
}
/* SESION PARA TELEFONO */

#tiendas #slide_cel{
    display: none;
}


@media(max-width: 1800px){
    

}
@media(max-width: 1500px){
   
}
@media(max-width: 1000px){
    #tiendas .container{
        margin-left: 10%;
        margin-right: 10%;
    }

}
@media(max-width: 500px){
    #tiendas .container{
        margin-left: 20%;
        margin-right: -55%;
    }

    
  
    #tiendas #slide_pc{
        display: none;
    }
    #tiendas #pc #h1{
        display: none;
        

    }
    #tiendas #slide_cel{
        display: inline;
       }
   
    #tiendas #cel h1{
        position: absolute;
        right: 90px;
        top: 90px;
        
        

    }
    #tiendas #contain_mapa iframe{
        display: inline;
        height: 210px;
        width: 320px;
        position: absolute; 
        bottom: 40px;
        right: 15%;
        border: solid  ;
        border-radius: 20px;
    }
    
  
    
}



 
 




















/* REDES SOCIALES */
footer {
    background-image: url('../img/prueba/prueba.jpg');
    background-position: center;
    background-size: cover;
}
footer .texto-redes{
    color: #9147FF;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 40px;


}
footer .redes-sociales{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 50px;
}
footer .redes-sociales a{
    display:flex;
    width: 100px;
    height: 100px;
    background-color: #fff;
    color: #30313A;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 0 20px;
}
footer .redes-sociales .facebook{color: #3b5998;}
footer .redes-sociales .twitter{ color: #1da1f2; }
footer .redes-sociales .instagram{ color: #c13584; }



footer .redes-sociales .facebook:hover{background-color: #3b5998;}
footer .redes-sociales .twitter:hover{ background-color: #1da1f2; }
footer .redes-sociales .instagram:hover{ background-color: #c13584; }

footer .redes-sociales .facebook:hover{color: #fff;}
footer .redes-sociales .twitter:hover{ color: #fff; }
footer .redes-sociales .instagram:hover{ color: #fff; }



@media (max-width:1000px){
    footer .texto-redes{

    font-size: 20px;

}
footer .redes-sociales a{

    width: 80px;
    height: 80px;
  

    border-radius: 50px;
    margin: 0 10px;
}
}